altair==4.2.0
appnope==0.1.0
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.2.0
backcall==0.2.0
backports.zoneinfo==0.2.1
bleach==3.2.1
blinker==1.5
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
commonmark==0.9.1
decorator==4.4.2
defusedxml==0.6.0
docutils==0.16
entrypoints==0.3
gspread==4.0.1
httplib2==0.18.1
idna==2.10
importlib-metadata==5.0.0
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==3.1.2
joblib==1.2.0
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab==2.2.8
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
lockfile==0.12.2
MarkupSafe==2.1.1
mistune==0.8.4
nbclient==0.5.0
nbconvert==6.0.7
nbformat==5.0.7
nest-asyncio==1.4.1
notebook==6.1.4
numpy==1.23.4
oauthlib==3.1.0
packaging==20.4
pandas==1.5.1
pandocfilters==1.4.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
pid==3.0.4
Pillow==7.2.0
progress==1.5
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.13.0
ptyprocess==0.6.0
pyarrow==10.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydeck==0.8.0
Pygments==2.7.1
Pympler==1.0.1
pyparsing==2.4.7
pyrsistent==0.17.3
python-daemon==2.2.4
python-dateutil==2.8.1
python-dotenv==0.19.2
pytz==2020.1
pytz-deprecation-shim==0.1.0.post0
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
requests==2.24.0
rich==12.6.0
rsa==4.6
scikit-learn==1.0.2
scipy==1.9.3
semver==2.13.0
Send2Trash==1.5.0
service==0.6.0
services==0.1.1
setproctitle==1.1.10
six==1.15.0
sklearn==0.0.post1
smmap==5.0.0
streamlit==1.14.1
terminado==0.9.1
testpath==0.4.4
threadpoolctl==3.1.0
toml==0.10.2
toolz==0.12.0
tornado==6.0.4
traitlets==5.0.4
typing-extensions==4.4.0
tzdata==2022.6
tzlocal==4.2
uritemplate==3.0.1
urllib3==1.25.10
validators==0.20.0
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
zipp==3.10.0
